<mat-toolbar color="accent" class="d-flex justify-content-around align-items-center menu-container">
    <div class="link" routerLink="/mi-despacho">
        <fa-icon [icon]="['fas', 'house']"></fa-icon>
        <span>MI DESPACHO</span>
    </div>
    <div class="link" routerLink="/mi-despacho/perfil">
        <fa-icon [icon]="['fas', 'circle-user']"></fa-icon>
        <span>PERFIL</span>
    </div>
    <div class="link" routerLink="/clubes">
        <fa-icon [icon]="['fas', 'ticket']"></fa-icon>
        <span>CLUBES</span>
    </div>
    <div class="link" routerLink="/mi-despacho/perfil/mis-lecturas">
        <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
        <span>MIS LECTURAS</span>
    </div>
    <div class="link" routerLink="/mi-despacho/perfil/estadisticas">
        <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon>
        <span>ESTADÍSTICAS</span>
    </div>
    <div class="link" routerLink="/mi-despacho/perfil/configuracion">
        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
        <span>CONFIGURACIÓN</span>
    </div>
</mat-toolbar>