<div class="sidenav">
    <div routerLink="/mi-despacho"><span>MI DESPACHO</span> <fa-icon [icon]="['fas', 'house']"></fa-icon></div>
    <div routerLink="/mi-despacho/perfil"><span>PERFIL</span><fa-icon [icon]="['fas', 'circle-user']"></fa-icon></div>
    <div routerLink="/clubes"><span>CLUBES</span><fa-icon [icon]="['fas', 'ticket']"></fa-icon></div>
    <div routerLink="/mi-despacho/perfil/mis-lecturas"><span>MIS LECTURAS</span><fa-icon [icon]="['fas', 'bookmark']"></fa-icon></div>
    <div routerLink="/mi-despacho/perfil/estadisticas"><span>ESTADÍSTICAS</span><fa-icon [icon]="['fas', 'chart-pie']"></fa-icon></div>
    <div routerLink="/mi-despacho/perfil/configuracion"><span>CONFIGURACIÓN</span><fa-icon [icon]="['fas', 'gear']"></fa-icon></div>
</div>