@import '../../../../style/variables.scss';

mat-toolbar {
    height: 90px;
    border-bottom: 1px solid $claro-color;

    .link {
        display: flex;
        flex-direction: column;
        text-align: center;
        &:hover {
            cursor: pointer;
            color: $base-color;
        }
    }
}

@media screen and (max-width: $max-width) {
    mat-toolbar {
        height: 50px;

        .link {
            span {
                display: none;
            }
        }
    }
}