@import '../../../../style/variables.scss';


@media only screen and (min-width: $min-width) {
  .admin--menu-icon {
    font-size: 30px;
    margin-right: 10px;
  }

  .admin--menu-text {
    display: inline-block;
  }
}

@media only screen and (max-width: $max-width) {
  .admin--menu-icon {
    font-size: 20px;
  }

  .admin--menu-text {
    display: none;
  }
}