@import '../../../../../style/variables.scss';


.icon-link {
  display: flex;
  align-items: center;

  &:hover{
    color: $base-color;
  }

}

.--menu-icon {
  margin-right: 5px;
}

@media (max-width: $max-width) {
  .icon-link .--menu-text {
    display: none;
  }
}