.icon-link {
    display: flex;
    align-items: center;
  }
  
  .--menu-icon {
    margin-right: 5px;
  }
  
  @media (max-width: 767px) {
    .icon-link .--menu-text {
      display: none;
    }
  }
  