<footer class="text-center">
    <div class="container text-center">
        <div class="d-flex flex-row justify-content-around align-items-center">
            <div class="w-25" id="seccion1">
                <ng-container *ngIf="!userRole">
                    <div class="d-flex flex-column text-center">
                        <div class="mb-2">
                            ¡Explora, comparte y conecta!
                            Tu biblioteca virtual y comunidad literaria a un solo click
                        </div>
                        <div class="btn-wrapper">
                            <button mat-button class="estilo-oscuro" (click)="rutaSuscribirse()">REGÍSTRATE</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="userRole === 'NORMAL' || userRole === 'ADMIN'">
                    <div class="d-flex flex-column text-center">
                        <div>
                            Únete a nuestra comunidad literaria y mantente al día con las últimas noticias,
                            recomendaciones de libros y eventos emocionantes
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="" id="seccion2">
                <div class="text-center">
                    <div>
                        <a routerLink="/"><img id="logoPC" src="/assets/img/logo.svg" /></a>
                    </div>
                    <div class="mt-2">
                        <a routerLink="/"><img id="logoRRSS" src="/assets/img/instagram.png" /></a>
                        <a routerLink="/"><img id="logoRRSS" src="/assets/img/twitter.png" /></a>
                        <a routerLink="/"><img id="logoRRSS" src="/assets/img/tiktok.png" /></a>
                    </div>
                </div>
            </div>
            <div class="w-25" id="seccion3">
                <div class="d-flex flex-column text-center">
                    <span>
                        INICIO
                    </span>
                    <span>
                        SOBRE NOSOTROS
                    </span>
                    <span>
                        POLÍTICA DE PRIVACIDAD
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>