<div class="d-flex flex-column justify-content-center align-items-center p-4">
    <h4>¿Has leído <strong>{{tituloLibro | uppercase}}</strong>?</h4>
    <div class="mb-3">¡Escribe tu opinión ahora!</div>
    <form [formGroup]="formValoracion" (submit)="$event.preventDefault()" class="d-flex flex-column align-items-center gap-3 w-100">
        <app-estrellas formControlName="estrellas"></app-estrellas>
        <mat-form-field class="comentario w-100">
            <mat-label>¿Qué te ha parecido?</mat-label>
            <textarea matInput formControlName="textarea"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="submit()" color="accent" [disabled]="!formValoracion.valid || formValoracion.get('estrellas')?.value === null">PUBLICAR OPINIÓN</button>
    </form>
</div>