<div class="container-club" *ngIf="club">
    <div class="container-contenido">
        <div class="imagen">
            <ng-container *ngIf="club.imagen !== undefined && club.imagen !== null && club.imagen !== ''; else noData">
                <div class="circular-image">
                    <img [src]="'data:image;base64,' + club.imagen" alt="Icono de club">
                </div>
            </ng-container>
            <ng-template #noData>
                <div class="circular-image">
                    <img [src]="imgNoData" alt="Icono de club">
                </div>
            </ng-template>
        </div>
        <div class="detalles-club">
            <div class="nombre">{{ club.nombre | uppercase}}</div>
            <div class="descipcion">{{ club.descripcion }}</div>
            <div class="intereses d-flex flex-row align-items-center gap-2">
                <ng-container *ngIf="club.tipo || club.genero">
                    <span>Intereses:</span>
                    <ng-container *ngIf="club.tipo">
                        <div class="detalle-tipo" [ngStyle]="tipoStyle">{{club.tipo.nombre| uppercase}}</div>
                    </ng-container>
                    <ng-container *ngIf="club.genero">
                        <div class="detalle-genero" [ngStyle]="generoStyle">{{club.genero.nombre| uppercase}}</div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="detalles-club-usuario">
            <ng-container *ngIf="userLoged">
                <ng-container *ngIf="club.perteneces ; else noPertenecer">
                    <button mat-button class="estilo-claro" (click)="abandonarClub()">ABANDONAR</button>
                </ng-container>
                <ng-template #noPertenecer>
                    <button mat-button class="estilo-oscuro" (click)="pertenecerClub()">PERTENECER</button>
                </ng-template>
            </ng-container>
            <div class="contador">Nº de miembros: {{club.miembros}}</div>
        </div>
    </div>
</div>