@import '../../../../../style/variables.scss';

mat-toolbar {
    height: 58px;

    .link {
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            color: $base-color;
            border-bottom: 1px solid $base-color;
        }

    }
}

@media screen and (max-width: $max-width){
    .menu-container {
        display: flex;
        flex-direction: column;
        height: 160px;
    }
}