<app-menu-admin></app-menu-admin>
<div class="container">
    <h2 class="title mb-3">GESTIÓN DE BIBLIOTECA</h2>
    <div class="row justify-content-center">
        <!-- Columna para el componente de imagen -->
        <div class="col-md-3">
            <app-imagen-update [imagenUrlServidor]="urlImagenDelServidor"
                (imageSelected)="handleImageSelected($event)"></app-imagen-update>
        </div>
        <!-- Columna para el formulario -->
        <div class="col-md-8">
            <form [formGroup]="formAddBook" (submit)="$event.preventDefault()">

                <mat-form-field class="w-100">
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="nombre" id="nombre" />
                </mat-form-field>
                <div class="alert alert-danger"
                    *ngIf="formAddBook.get('nombre')?.touched && formAddBook.get('nombre')?.errors">
                    <div *ngIf="this.specificError('nombre','required')">
                        Título requerido.
                    </div>
                </div>

                <mat-form-field class="w-100 mt-3">
                    <mat-label>Sinopsis</mat-label>
                    <textarea matInput formControlName="descripcion" id="descripcion"></textarea>
                </mat-form-field>
                <div class="alert alert-danger"
                    *ngIf="formAddBook.get('descripcion')?.touched && formAddBook.get('descripcion')?.errors">
                    <div *ngIf="this.specificError('descripcion','required')">
                        Descripción requerida.
                    </div>
                </div>

                <mat-form-field class="w-100 mt-3">
                    <mat-label>Buscar Autor</mat-label>
                    <div class="d-flex">
                        <input matInput id="autorFiltro" (input)="filtrarAutores($event)">
                        <app-add-autor-button [autorIcon]="autorIconAdd"
                            *ngIf="autoresFiltrados.length <= 0" (autorCreado)="recibirAutorAgregado($event)"></app-add-autor-button>
                    </div>
                </mat-form-field>

                <mat-form-field class="w-100 mt-3" *ngIf="autoresFiltrados.length > 0">
                    <mat-label>Selecciona Autor</mat-label>
                    <div class="d-flex">
                        <mat-select formControlName="idAutor" id="idAutor" (selectionChange)="autorSeleccionado($event)">
                            <mat-option *ngFor="let autor of autoresFiltrados" [value]="autor.id">{{ autor.nombre }}</mat-option>
                        </mat-select>
                        <app-add-autor-button [autorIcon]="autorIconEdit" [autorId]="formAddBook.get('idAutor')?.value"
                            *ngIf="formAddBook.get('idAutor')?.value"
                            (click)="editarAutor($event)"></app-add-autor-button>
                    </div>
                </mat-form-field>
                <div class="alert alert-danger"
                    *ngIf="formAddBook.get('idAutor')?.touched && formAddBook.get('idAutor')?.errors">
                    <div *ngIf="this.specificError('idAutor','required')">
                        Autor requerido.
                    </div>
                </div>

                <mat-form-field class="w-100 mt-3">
                    <mat-label>Saga</mat-label>
                    <div class="d-flex">
                        <ng-container *ngIf="!addingNewSaga; else newSagaInput">
                            <mat-select formControlName="saga" id="saga">
                                <mat-option *ngFor="let saga of sagas" [value]="saga.id">{{ saga.nombre }}</mat-option>
                            </mat-select>
                        </ng-container>
                        <ng-template #newSagaInput>
                            <input matInput formControlName="nuevaSaga" id="nuevaSaga"
                                placeholder="Nombre de la nueva saga">
                        </ng-template>
                        <button mat-icon-button color="primary" aria-label="Agregar" (click)="toggleAddingSaga()">
                            <fa-icon [icon]="['fas', addingNewSaga ? 'times' : 'plus']"></fa-icon>
                        </button>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="formAddBook.get('saga')?.touched && formAddBook.get('saga')?.errors">
                        <div *ngIf="this.specificError('saga','required')">
                            Saga requerida.
                        </div>
                        <div *ngIf="this.specificError('saga','minlength')">
                            Saga requerida.
                        </div>
                    </div>
                </mat-form-field>



                <mat-form-field class="w-100 mt-3">
                    <mat-label>Páginas</mat-label>
                    <input matInput type="number" formControlName="paginas" id="paginas" />
                </mat-form-field>
                <div class="alert alert-danger"
                    *ngIf="formAddBook.get('paginas')?.touched && formAddBook.get('paginas')?.errors">
                    <div *ngIf="this.specificError('paginas','required')">
                        Páginas requeridas.
                    </div>
                </div>

                <mat-form-field class="w-100 mt-3">
                    <mat-label>Año</mat-label>
                    <input matInput type="date" formControlName="fechaPublicacion" id="fechaPublicacion" />
                </mat-form-field>
                <div class="alert alert-danger"
                    *ngIf="formAddBook.get('fechaPublicacion')?.touched && formAddBook.get('fechaPublicacion')?.errors">
                    <div *ngIf="this.specificError('fechaPublicacion','required')">
                        Año requerido.
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <div class="col w-100">
                        <label>TIPO:</label>
                        <mat-radio-group formControlName="tipo" id="tipo">
                            <mat-radio-button *ngFor="let typeOption of typeOptions" [value]="typeOption.id"
                                class="row">
                                {{typeOption.nombre}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="formAddBook.get('tipo')?.touched && formAddBook.get('tipo')?.errors">
                        <div *ngIf="this.specificError('tipo','required')">
                            Tipo requerido.
                        </div>
                    </div>

                    <div class="col w-100">
                        <label>GÉNERO:</label>
                        <mat-radio-group formControlName="genero" id="genero">
                            <mat-radio-button *ngFor="let genderOption of genderOptions" [value]="genderOption.id"
                                class="row">
                                {{genderOption.nombre}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="formAddBook.get('genero')?.touched && formAddBook.get('genero')?.errors">
                        <div *ngIf="this.specificError('genero','required')">
                            Género requerido.
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-3 mt-3">
                    <button mat-raised-button type="button" (click)="cancel()">CANCELAR</button>
                    <!-- Botón de añadir -->
                    <button *ngIf="!isEditing" mat-raised-button (click)="submit()" color="accent"
                        [disabled]="!formAddBook.valid || this.selectedFile == null || this.selectedFile == undefined">AÑADIR</button>

                    <!-- Botón de editar -->
                    <button *ngIf="isEditing" mat-raised-button (click)="submitEdit()" color="primary"
                        [disabled]="!formAddBook.valid || this.selectedFile == null || this.selectedFile == undefined">EDITAR</button>
                </div>
            </form>
        </div>
    </div>
</div>