.custom-input {
  width: 100%;
}

.input-with-icon {
  position: relative;
}

.input-with-icon fa-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-with-icon input {
  padding-left: 30px;
}
