<mat-card >
  <mat-card-content  class="d-flex justify-content-center">
    <form [formGroup]="formLogin" (submit)="$event.preventDefault()" class="w-75 pt-5 pb-5">
      
        <mat-form-field class="w-100 ">
          <mat-label>Username</mat-label>
          <input matInput class="form-control ng-untouched ng-pristine ng-invalid w-75 mt-3" ng-reflect-name="username" id="username"
            formControlName="username" (cdkAutofill)="firstNameAutofilled = $event.isAutofilled"/>
        </mat-form-field>
        <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
          <div class="alert alert-danger" *ngIf="formLogin.get('username')?.touched && formLogin.get('username')?.errors">
            <div *ngIf="this.specificError('username','required')">
              Username is required.
            </div>
            <div *ngIf="this.formLogin?.get('username')?.getError('username')">
              Username must be a good form.
            </div>
          </div>
        <br/>
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input type="password" matInput class="form-control ng-untouched ng-pristine ng-invalid mt-3" ng-reflect-name="password"
            id="password" formControlName="password" (cdkAutofill)="lastNameAutofilled = $event.isAutofilled"/>
          <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.errors">
          <div *ngIf="this.specificError('password','required')">
            password is required.
          </div>
        </div>
        <br/>
        <button mat-raised-button (click)="submit()" [disabled]="!formLogin.valid" class="w-100 border border-primary">Iniciar Sesion</button>
    </form>
  </mat-card-content>
</mat-card>

