<div class="container-fluid">
  <div class="row align-items-center">
    <!-- Imagen a la izquierda -->
    <div class="col-md-6 d-none d-md-flex p-0">
      <img src="../../../../assets/img/login.jpg" alt="Login image" class="w-100"
        style="object-fit: cover;">
    </div>

    <!-- Formulario a la derecha -->
    <div class="col-md-6 col-12 d-flex justify-content-center">
      <div class="text-center">
        <img src="../../../../assets/img/iconlogo.svg" alt="Logo de la app" class="app-logo mb-3">
        <h3>¡BIENVENIDO!</h3>
        <p>Inicia sesión con tu usuario y contraseña</p>

        <form [formGroup]="formLogin" (submit)="$event.preventDefault()">
          <mat-form-field class="custom-input">
            <div class="input-with-icon">
              <fa-icon [icon]="['fas', 'circle-user']"></fa-icon>
              <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="username" id="username"
                formControlName="username" />
            </div>
          </mat-form-field>
          <br />
          <mat-form-field class="custom-input">
            <div class="input-with-icon">
              <fa-icon [icon]="['fas', 'lock']"></fa-icon>
              <input type="password" matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="password"
                id="password" formControlName="password" />
            </div>
          </mat-form-field>

          <div>
            <a href="#" class="mb-3">¿Has olvidado la contraseña?</a>
          </div>

          <button mat-raised-button color="primary" (click)="submit()" [disabled]="!formLogin.valid" class="w-100 mb-3">
            Iniciar Sesion</button>
        </form>

        <div>
          <a href="/register">¿Aún no te has registrado? REGISTRATE</a>
        </div>
      </div>
    </div>
  </div>
</div>