<div class="container">
    <h2 class="title">GESTIÓN DE BIBLIOTECA</h2>
    <!-- Contenedor para los botones -->
    <div class="d-flex justify-content-end align-items-center">
        <!-- Botón para agregar nuevo libro -->
        <button mat-button color="primary" (click)="agregarLibro()">NUEVO LIBRO</button>
         <!-- Botón para agregar nuevo libro -->
         <button mat-button color="primary" (click)="agregarAutor()">NUEVO AUTOR</button>
    </div>
    <app-listado-items-books [data]="data"></app-listado-items-books>
</div>