@import '../../../../style/variables.scss';

.mdc-floating-label--required {
    color: red !important;
}

.input-with-icon {
    position: relative;
}

.input-with-icon fa-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-with-icon input {
    padding-left: 30px;
}

.opciones-container {
  
    .opcion {
      cursor: pointer;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 100px;
        height: auto;
        object-fit: cover;
        filter: grayscale(100%);  
        transition: filter 0.3s ease;
      }
  
      &.selected img {
        filter: none;
      }
  
      .opcion-nombre {
        margin-top: 5px;
        text-align: center;
      }
  
      &.selected .opcion-nombre {
        color: $base-color;
        font-weight: 600;
      }
    }
  }
  