<ng-container *ngIf="estiloOpcion; else estiloIcono">
    <button mat-raised-button type="button" color="accent" (click)="openDialog()">DEJAR MI OPINIÓN</button>
</ng-container>
<ng-template #estiloIcono>
    <ng-container *ngIf="modalInfo?.estado === 'LEIDO'">
        <button mat-icon-button class="leido" aria-label="LEIDO, Editar lectura" (click)="openDialog()">
            <fa-icon [icon]="['fas', 'check']"></fa-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="modalInfo?.estado === 'PROGRESO'">
        <button mat-icon-button class="proceso" aria-label="PROGRESO, Editar lectura" (click)="openDialog()">
            <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="modalInfo?.estado === 'FAVORITO'">
        <button mat-icon-button class="favorito" aria-label="FAVORITO, Editar lectura" (click)="openDialog()">
            <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </button>
    </ng-container>
    <ng-container
        *ngIf="modalInfo?.estado !== 'LEIDO' && modalInfo?.estado !== 'PROGRESO' && modalInfo?.estado !== 'FAVORITO'">
        <button mat-icon-button class="sin-estado" aria-label="Editar lectura" (click)="openDialog()">
            <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </button>
    </ng-container>
</ng-template>