@import '../../../../../../style/variables.scss';

.favorito {
    background-color: $background-heart;
    color: $color-heart;
}

.proceso {
    background-color: $background-rotate;
    color: $color-rotate;
}

.leido {
    background-color: $background-check;
    color: $color-check;
}

.sin-estado {
    background-color: $claro-color;
    color: $base-color;
}