@import '../../../../../style/mixin.scss';
@import '../../../../../style/variables.scss';

.container-contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .data-perfil-container {
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 5%;

        .data-perfil {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .username {
                color: $grey-color;
            }
        }

        .circular-image {
            @include circular-image(170px, 170px);
        }
    }

    .valoracion-table {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.carousel-container {
    .carousel-control-prev,
    .carousel-control-next {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $base-color;
    }

    .carousel-control-prev{
        left: -30px;
    }

    .carousel-control-next{
        right: -30px;
    }

    .cards-wrapper {
        white-space: nowrap;
    }
}


/* Estilos para pantallas pequeñas */
@media (max-width: $max-width) {
    .container-contenido {
        .data-perfil-container {
            flex-direction: column;
            align-self: center;
            margin-left: 0;

            .circular-image {
                @include circular-image(100px, 100px);
            }
        }
    }
}