.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.mat-column-actions {
    width: auto;
}

tr.mat-mdc-header-row {
    background-color: #C7B69F !important;
}

tr,
td {
    border-color: #C7B69F !important;
}