<app-navbar (SidenavToggle)="sidenav.toggle()" userRole="{{this.userRole}}"></app-navbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" mode="side" position="start" [fixedInViewport]="true"
        (click)="closeSidenav()">
        <div class="container">
            <div class="mb-5"></div>

            <mat-nav-list>
                <mat-list-item routerLink="/">
                    <a>Inicio</a>
                </mat-list-item>
                <mat-list-item routerLink="/clubes">
                    <a>Clubes</a>
                </mat-list-item>
                <mat-list-item routerLink="/biblioteca">
                    <a>Biblioteca</a>
                </mat-list-item>

                <!-- Mostrar elementos para usuario anónimo -->
                <ng-container *ngIf="!userRole">
                    <mat-list-item routerLink="/quienes-somos"><a>Quiénes somos</a></mat-list-item>
                    <mat-list-item routerLink="/registrarse"><a>Registrarse</a></mat-list-item>
                    <mat-list-item routerLink="/login"><a>Iniciar Sesion</a></mat-list-item>
                </ng-container>

                <!-- Mostrar elementos para usuario normal -->
                <ng-container *ngIf="userRole === 'NORMAL'">
                    <mat-list-item routerLink="/mi-despacho"><a>Mi Despacho</a></mat-list-item>
                    <mat-list-item routerLink="/mi-perfil"><a>Mi Perfil</a></mat-list-item>
                    <mat-list-item (click)="cerrarSesion()"><a>Logout</a></mat-list-item>
                </ng-container>

                <!-- Mostrar elementos para usuario administrador -->
                <ng-container *ngIf="userRole === 'ADMIN'">
                    <mat-list-item routerLink="/mi-despacho"><a>Mi Despacho</a></mat-list-item>
                    <mat-list-item routerLink="/mi-perfil"><a>Mi Perfil</a></mat-list-item>
                    <mat-list-item routerLink="/logout"><a>Logout</a></mat-list-item>
                    <mat-list-item routerLink="/admin"><a>Administrar</a></mat-list-item>
                </ng-container>
            </mat-nav-list>
        </div>
    </mat-sidenav>
</mat-sidenav-container>