@import '../../../../style/variables.scss';

.mat-drawer.mat-drawer-opened{
    box-shadow: 0px 1px 10px 0px $base-color !important;
}

.container {
    background-color: $white-color;
    padding: 10px;
    border-radius: 5px;
    
    .mat-mdc-list-base {
        --mdc-list-list-item-hover-state-layer-color: none !important;
    }
}