@import '../../../../../style/variables.scss';

.mat-toolbar {
    background-color: $white-color;
    padding: 0;
    box-shadow: $box-shadow;
    z-index: 10;
    position: relative;
    height: 4rem;

    #logoPC {
        min-width: $logo-pc-mobile-min;
        max-width: $logo-pc-max;
    }

    #logoMovil {
        min-width: $logo-pc-mobile-min;
        max-width: $logo-mobile-max;
    }

}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}



/* Estilos para pantallas pequeñas */
@media (max-width: $max-header-width) {
    .navbar-desktop {
        display: none;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: $min-header-width) {
    .navbar-mobile {
        display: none;
    }
}