<app-carousel-imagen></app-carousel-imagen>
<app-imagen-list-book-card [listadoService]="randomBookService"></app-imagen-list-book-card>

<!-- METRICAS -->
<div class="container-fluid container-metricas my-2 mx-0">
    <div class="row p-3 d-flex flex-lg-row justify-content-around">
        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>LECTORES TOTALES</h5>
            <h2>0000</h2>
        </div>

        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>LIBROS LEÍDOS</h5>
            <h2>0000</h2>
        </div>

        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>CLUBES CREADOS</h5>
            <h2>0000</h2>
        </div>

        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>RESEÑAS TOTALES</h5>
            <h2>0000</h2>
        </div>
    </div>
</div>

<!-- NEWSLETTER -->
<div class="newsletter-container mt-3">
    <img src="assets/img/newsletter.png" alt="Newsletter" class="newsletter-image">
    <div class="newsletter-overlay">
        <div class="flex-texto">
            ¡Únete a nuestra comunidad literaria en Book 'N Book y mantente al día con las últimas noticias,
            recomendaciones de libros y eventos emocionantes! Regístrate ahora para recibir nuestra newsletter y
            sé parte de una red de lectores apasionados que comparten su amor por los libros.
        </div>
        <div class="flex-formulario">
            <form [formGroup]="formNewsletter" (submit)="$event.preventDefault()" class="d-flex flex-column">
                <mat-form-field color="primary"><input matInput type="email" placeholder="Email">
                </mat-form-field>
                <button mat-button class="estilo-oscuro" (click)="submit()">SUSCRIBETE</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>