@import 'variables.scss';

//MIXIN

//DIALOG
@mixin dialog-title {
    font-size: 24px;
    font-weight: bold;
    color: $base-color;
    margin-bottom: 10px;
}

@mixin dialog-subtitle {
    font-size: 18px;
    color: $black-color;
    margin-bottom: 10px;
}

@mixin dialog-threetitle {
    font-size: 15px;
    color: $black-color;
    margin-bottom: 10px;
}

//LISTADOS ADMINISTRADOR
@mixin container-listado {
    margin: 0 auto;
    padding-bottom: 20px;
}

@mixin title-listado {
    margin-top: 20px;
}

//LISTADO-ITEMS
@mixin listado-items-estilo-comun {
    .table-responsive {
        overflow-x: auto;
        max-width: 100%;
    }

    .mat-column-actions {
        width: auto;
    }

    tr.mat-mdc-header-row {
        background-color: $claro-color !important;
    }

    tr,
    td {
        border-color: $claro-color !important;
    }
}

//IMAGENES REDONDAS
@mixin circular-image($size: 50px, $border-radius: 50%, $border: 1px solid $claro-color) {
    width: $size;
    height: $size;
    border-radius: $border-radius;
    border: $border;
    overflow: hidden;
    margin: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin rectangular-image($width: 50px, $height: auto, $border-radius: 8px, $border: 1px solid $claro-color) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    border: $border;
    overflow: hidden;
    margin: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin cuadrada-image($size: 50px, $border: 1px solid $claro-color) {
    width: $size;
    height: $size;
    border: $border;
    overflow: hidden;
    margin: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
