//VARIABLES
$base-color: #553D2A;
$claro-color: #C7B69F;
$white-color: white;
$black-color: black;
$grey-color: #636366;

$background-heart: #FD9D9D;
$color-heart: #AD1919;
$background-rotate: #FFE8AE;
$color-rotate: #BFA935;
$background-check: #CFFFBE;
$color-check: #0F591F;

$box-shadow: 0px 1px 10px 0px $base-color;

$logo-pc-mobile-min: 190px;
$logo-pc-max: 260px;
$logo-mobile-max: 200px;
$logo-rrss-max-min: 30px;

$min-width: 768px;
$max-width: 767px;
$max-header-width: 800px;
$min-header-width: 799px;