//VARIABLES
$base-color: #553D2A;
$claro-color: #C7B69F;
$white-color: white;

$box-shadow: 0px 1px 10px 0px $base-color;

$logo-pc-mobile-min: 190px;
$logo-pc-max: 260px;
$logo-mobile-max: 200px;

$min-width: 768px;
$max-width: 767px;