<app-menu-desplegable></app-menu-desplegable>
<app-breadcumb></app-breadcumb>
<app-imagen-list-book-card [listadoService]="masLeidosBookService" [titulo]="'LOS MÁS LEIDOS'"
    (datosCargados)="onDatosCargadosMasLeidos($event)"></app-imagen-list-book-card>

<div class="mt-5">
    <app-imagen-list-book-card [listadoService]="recomendadosBookService" [titulo]="'RECOMENDADOS'"
        (datosCargados)="onDatosCargadosRecomendados($event)"></app-imagen-list-book-card>
</div>

<div class="mt-5 mb-5">
    <app-imagen-list-book-card [listadoService]="novedadesBookService" [titulo]="'NOVEDADES'"
        (datosCargados)="onDatosCargadosNovedades($event)"></app-imagen-list-book-card>
</div>
<ng-container *ngIf="masLeidosCargados && recomendadosCargados && novedadesCargados">
    <app-footer></app-footer>
</ng-container>