<div class="container-comentario">
    <div class="container-contenido">
        <div class="imagen">
            <ng-container *ngIf="comentario.imagenUsuario !== undefined && comentario.imagenUsuario !== null && comentario.imagenUsuario !== ''; else noData">
                <div class="circular-image">
                    <img [src]="'data:image;base64,' + comentario.imagenUsuario" alt="Icono de usuario" (click)="goPerfil(comentario.username)">
                </div>
            </ng-container>
            <ng-template #noData>
                <div class="circular-image">
                    <img [src]="imgNoData" alt="Icono de usuario" (click)="goPerfil(comentario.username)">
                </div>
            </ng-template>
        </div>
        <div class="detalles-usuario">
            <div class="username" (click)="goPerfil(comentario.username)">{{ comentario.username }}</div>
            <div class="fecha-valoracion">{{ comentario.fechaComentario }}</div>
        </div>
        <div class="detalles-valoracion">
            <!-- Estrellas valoracion media -->
            <div class="d-flex flex-column mb-2">
                <div class="stars">
                    <ng-container *ngFor="let star of stars; index as i">
                        <svg class="star" width="255" height="240" viewBox="0 0 51 48"
                            [ngClass]="{'active': i < comentario.valoracion}">
                            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
                        </svg>
                    </ng-container>
                </div>
            </div>
            <div class="comentario">{{ comentario.comentario }}</div>
        </div>
        <div class="detalles-denuncia">
            <ng-container *ngIf="userRole === 'NORMAL' || userRole === 'ADMIN'; else anonimoBlock">
                <ng-container *ngIf="estiloPerfil !== 'PERFILPROPIO'">
                    <app-denuncia-button [modalInfo]="{idLibro: comentario.valoracionIdLibro, username: comentario.username}">
                    </app-denuncia-button>
                </ng-container>
            </ng-container>
            <ng-template #anonimoBlock>
                <app-inicio-anonimo-boton [estilo]="estiloBoton"></app-inicio-anonimo-boton>
            </ng-template>
        </div>
    </div>
</div>