<app-breadcumb></app-breadcumb>
<div class="container-fluid mt-3 mb-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 position-relative" id="seccionImagen">
            <img src="/assets/img/registrarse.png" class="img-fluid" />
            <span class="position-absolute top-50 start-50 translate-middle text-center">
                <h4>REGISTARTE AHORA</h4>
                <p>¡Únete a nuestra comunidad de lectura! Descubre nuevos libros y conecta con lectores apasionados.
                    Regístrate ahora y participa en clubes de lectura emocionantes.</p>
                    <button mat-button class="estilo-oscuro" (click)="registrarse()">REGISTRARSE</button>
            </span>
        </div>
        <div class="col-md-6" id="seccionTexto">
            <div>
                <h5>¿Por qué formar parte de Book ‘N Book?</h5>
                <p>Proyecto desarrollado con el objetivo de crear una plataforma interactiva para amantes de la lectura,
                    proporcionando un espacio donde compartir experiencias, descubrir nuevas lecturas y conectarse con
                    otros apasionados de los libros. Con un equipo comprometido con la promoción de la lectura y el
                    fomento de la comunidad literaria, estamos dedicados a proporcionar una experiencia enriquecedora y
                    emocionante para todos los usuarios de Book 'N Book.</p>
            </div>
            <div>
                <h5>¿Quiénes somos?</h5>
                <p>Todo surge de un equipo apasionado por la lectura, quienes identificamos la necesidad de un gestor en
                    línea completo. Al combinar esta funcionalidad con una red social, pensamos que se volvería más
                    atractivo para los lectores. Además, la integración de clubes de lectura en línea es vital para
                    fortalecer la comunidad lectora, especialmente en un momento en el que los clubes físicos son
                    escasos. Con las tecnologías disponibles, la posibilidad de establecer conexiones con lectores de
                    todo el mundo que compartieran intereses literarios similares era una gran posibilidad.</p>
            </div>
            <div>
                <h5>Contacta con nosotros</h5>
                <p>Para cualquier consulta, sugerencia o colaboración, no dudes en contactarnos enviando un correo
                    electrónico a <a href="mailto:booknbook@gmail.com">booknbook@gmail.com</a>. También puedes seguirnos
                    en nuestras redes sociales para obtener las últimas actualizaciones y noticias:</p>
                <a routerLink="/"><img id="logoRRSS" src="/assets/img/instagram.png" /></a>
                <a routerLink="/"><img id="logoRRSS" src="/assets/img/twitter.png" /></a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>