.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.fullname-column {
    color: #636366;
}

.mat-column-actions {
    width: 130px;
}

tr.mat-mdc-header-row {
    background-color: #C7B69F !important;
}

tr, td {
    border-color: #C7B69F !important;
}