.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.fullname-column {
    color: #636366;
}

.mat-column-actions {
    width: auto;
}

tr.mat-mdc-header-row {
    background-color: #C7B69F !important;
}

tr,
td {
    border-color: #C7B69F !important;
}

.role-select-field {
    margin-top: 5px;
    margin-bottom: -15px;
    width: 120px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .role-select-field {
        margin-top: 5px;
        margin-bottom: -15px;
        width: 80px;
    }
}