<div class="d-flex flex-column justify-content-center align-items-center p-3">
    <h4><strong>{{modalInfo.title | uppercase}}</strong></h4>
    <div class="mb-3">Ficha de lectura:</div>
    <form [formGroup]="formProceso" (submit)="$event.preventDefault()"
        class="d-flex flex-column align-items-center gap-3">
        <mat-form-field class="w-100">
            <mat-label>Inicio de lectura</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" formControlName="inicio"
                id="inicio">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancelar</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <div class="alert alert-danger w-100" *ngIf="formProceso.get('inicio')?.touched && formProceso.get('inicio')?.errors">
            <div *ngIf="this.specificError('inicio','required')">
                Inicio de lectura requerido.
            </div>
        </div>
        <ng-container *ngIf="formProceso.get('terminado')?.value || formProceso.get('inicio')?.value">
            <mat-form-field class="w-100">
                <mat-label>Inicio de lectura</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" formControlName="final"
                    id="final">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </ng-container>
        <div class="paginasLibro">Páginas totales: {{modalInfo.pages}}</div>
        <mat-form-field class="w-100">
            <mat-label>Página actual de lectura</mat-label>
            <input matInput type="number" formControlName="paginaActual" id="paginaActual" />
        </mat-form-field>
        <div class="alert alert-danger w-100"
            *ngIf="formProceso.get('paginaActual')?.touched && formProceso.get('paginaActual')?.errors">
            <div *ngIf="this.specificError('paginaActual','required')">
                Página requerida.
            </div>
        </div>
        <section class="checkbox-terminado">
            <mat-checkbox formControlName="terminado" (change)="updatePageInput()">Lo he terminado de leer</mat-checkbox>
        </section>
        <button mat-raised-button (click)="submit()" color="primary" [disabled]="!formProceso.valid">GUARDAR</button>
    </form>
</div>