.mat-drawer.mat-drawer-opened{
    box-shadow: none !important;
}
.container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    a {
        color: #553D2A;
        text-decoration: none;
        width: 100%;
        padding: 5px;

        &:hover {
            color: #C7B69F;
        }
    }
}