<app-breadcumb></app-breadcumb>
<div class="container-fluid mt-3 mb-5">
    <div class="row justify-content-center align-items-start m-2">
        <div class="col-md-8" id="seccionTexto">
            <app-club-list-all #clubListAll [userLoged]="userLoged"></app-club-list-all>
        </div>
        <ng-container *ngIf="userLoged; else noLoged">
            <div class="col-md-4 position-relative" id="seccion-listados-usuario">
                <div class="pertenecer">
                    <span>CLUBES A LOS QUE PERTENECES</span>
                    <app-user-club-list [tipo]="'P'"></app-user-club-list>
                </div>
                <div class="administrar">
                    <div class="d-flex flex-row justify-content-between align-items-baseline">
                        <span>CLUBES QUE ADMINISTRAS</span>
                        <app-add-club-button [icono]="iconoOpcion"></app-add-club-button>
                    </div>
                    <app-user-club-list [tipo]="'A'"></app-user-club-list>
                </div>
            </div>
        </ng-container>
        <ng-template #noLoged>
            <div class="col-md-4 position-relative" id="seccionImagen">
                <img src="/assets/img/registrarse.png" class="img-fluid" />
                <span class="position-absolute top-50 start-50 translate-middle text-center">
                    <h4>REGISTARTE AHORA</h4>
                    <p>¡Únete a nuestra comunidad de lectura! Descubre nuevos libros y conecta con lectores apasionados.
                        Regístrate ahora y participa en clubes de lectura emocionantes.</p>
                    <button mat-button class="estilo-oscuro" (click)="registrarse()">REGISTRARSE</button>
                </span>
            </div>
        </ng-template>
    </div>
</div>
<app-footer></app-footer>