.mat-toolbar {
    background-color: white;
    padding: 0;
    box-shadow: 0px 1px 10px 0px #553D2A;

    #logoPC {
        min-width: 190px;
        max-width: 260px;
    }

    #logoMovil {
        min-width: 190px;
        max-width: 260px;
    }

    a {
        color: #553D2A;
        text-decoration: none;
        transition: background-color 0.3s;
        width: auto;

        &:hover {
            border-bottom: solid 1px #553D2A;
        }
    }

}