<mat-dialog-content class="dialog-text">
    <form [formGroup]="formAddClub" (submit)="$event.preventDefault()">

        <mat-form-field class="w-100">
            <mat-label>Nombre del club</mat-label>
            <input matInput formControlName="name" id="name" />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="formAddClub.get('name')?.touched && formAddClub.get('name')?.errors">
            <div *ngIf="this.specificError('name','required')">
                Nombre requerido.
            </div>
        </div>

        <mat-form-field class="w-100">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" id="description"></textarea>
        </mat-form-field>
        <div class="alert alert-danger"
            *ngIf="formAddClub.get('description')?.touched && formAddClub.get('description')?.errors">
            <div *ngIf="this.specificError('description','required')">
                Descripción requerida.
            </div>
            <div *ngIf="this.specificError('description','maxlength') || this.specificError('description','minlength')">
                Mínimo 10 y máximo 50 caracteres.
            </div>
        </div>

        <div class="w-100">
            <label>Selecciona tu preferencia:</label>
            <mat-radio-group formControlName="type" id="type">
                <mat-radio-button *ngFor="let typeOption of typeOptions" [value]="typeOption">
                    {{typeOption}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="alert alert-danger" *ngIf="formAddClub.get('type')?.touched && formAddClub.get('type')?.errors">
            <div *ngIf="this.specificError('type','required')">
                Tipo requerido.
            </div>
        </div>

        <div class="w-100">
            <label>Género:</label>
            <mat-radio-group formControlName="gender" id="gender">
                <mat-radio-button *ngFor="let genderOption of genderOptions" [value]="genderOption">
                    {{genderOption}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="alert alert-danger"
            *ngIf="formAddClub.get('gender')?.touched && formAddClub.get('gender')?.errors">
            <div *ngIf="this.specificError('gender','required')">
                Género requerido.
            </div>
        </div>

        <app-imagen-update formControlName="imagen" (imageSelected)="handleImageSelected($event)"></app-imagen-update>

        <button mat-raised-button (click)="submit()" class="w-100 border border-primary" [disabled]="!formAddClub.valid && !imageSelected">AÑADIR</button>
    </form>
</mat-dialog-content>