<app-sidenav-despacho></app-sidenav-despacho>
<div class="container-fluid">
    <div class="listado deseos" routerLink="/mi-despacho/perfil/mis-lecturas/listado/favorito">
        <img src="/assets/img/lecturas/FAVORITOS.png">
        <div>LISTA DE DESEOS</div>
    </div>
    <div class="listado lectura" routerLink="/mi-despacho/perfil/mis-lecturas/listado/progreso">
        <img src="/assets/img/lecturas/PROCESO.png">
        <div>LISTA DE LECTURA</div>
    </div>
    <div class="listado leidos" routerLink="/mi-despacho/perfil/mis-lecturas/listado/leido">
        <img src="/assets/img/lecturas/LEIDO.png">
        <div>LISTA DE LEIDOS</div>
    </div>
</div>