.container {
    margin: 0 auto;
    padding: 0%;
}

.title {
    margin-top: 20px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
    }
}