@import '../../../../style/variables.scss';

.container-metricas {
    box-shadow: 0px 1px 5px 0px $base-color;
}

.newsletter-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.newsletter-image {
    width: 100%;
    object-fit: cover;
}

.newsletter-overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: $claro-color;

    .flex-texto{
        margin-left: 40px;
    }

    .flex-formulario{
        margin-right: 40px;
    }
}

@media (max-width: $min-width) {
    .newsletter-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
    }

    .newsletter-image{
        display: none;
    }

    .flex-texto{
        margin: 0 !important;
    }

    .flex-formulario{
        margin: 0 !important;
    }
}