<div class="container-club" *ngIf="club">
    <div class="container-contenido">
        <div class="imagen">
            <ng-container *ngIf="club.imagen !== undefined && club.imagen !== null && club.imagen !== ''; else noData">
                <div class="circular-image">
                    <img [src]="club.imagen" alt="Icono de club">
                </div>
            </ng-container>
            <ng-template #noData>
                <div class="circular-image">
                    <img [src]="imgNoData" alt="Icono de club">
                </div>
            </ng-template>
        </div>
        <div class="detalles-club">
            <div class="nombre">{{ club.nombreGrupo| uppercase}}</div>
        </div>
        <ng-container *ngIf="club.administrador">
        <div class="detalles-menu">        
            <button mat-icon-button color="primary" aria-label="Menu de opciones" [matMenuTriggerFor]="menu">
                <fa-icon [icon]="['fas', 'ellipsis-vertical']"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="eliminarClub(club.idGrupo)"><fa-icon class="me-2" [icon]="['fas', 'trash']"></fa-icon>Eliminar</button>
            </mat-menu>
        </div>
        </ng-container>
    </div>
</div>