<div class="container-fluid">
    <div class="row">
        <!-- Imagen a la izquierda -->
        <div class="col-md-6 d-none d-md-flex p-0">
            <img src="../../../../assets/img/login.jpg" alt="Login image" class="w-100" style="object-fit: cover;">
        </div>
        <!-- Formulario a la derecha -->

        <div class="col-md-6 col-12 d-flex align-items-center 
        justify-content-center mt-5">
            <div class="text-center">
                <img src="../../../../assets/img/iconlogo.svg" alt="Logo de la app" class="app-logo mb-3">
                <h3>¡BIENVENIDO!</h3>
                <p>Comienza tu aventura rellenando este formulario</p>

                <form [formGroup]="formRegister" (submit)="$event.preventDefault()">
                    <mat-form-field>
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="username"
                            id="username" formControlName="username" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="name" id="name"
                            formControlName="name" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Primer apellido</mat-label>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="apellido1"
                            id="apellido1" formControlName="apellido1" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="apellido2"
                            id="apellido2" formControlName="apellido2" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="email" id="email"
                            formControlName="email" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label class="mat-label">Contraseña</mat-label>
                        <input type="password" #password matInput class="ng-untouched ng-pristine ng-invalid"
                            ng-reflect-name="password" id="password" formControlName="password" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Repetir contraseña</mat-label>
                        <input type="password" #passwordRepeat matInput class="ng-untouched ng-pristine ng-invalid"
                            ng-reflect-name="passwordRepeat" id="passwordRepeat" />
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="password.value != passwordRepeat.value">
                        <div>
                            Contraseñas con diferentes valores.
                        </div>
                    </div>
                    <br />
                    <button mat-raised-button (click)="submit()" [disabled]="!formRegister.valid" color="primary"
                        class="mb-3 mt-3">Registrarse</button>
                </form>

                <div>
                    <a href="/login">¿Ya estás registrado? INICIA SESIÓN</a>
                </div>
            </div>
        </div>
    </div>
</div>