<div class="container-fluid">
    <div class="row">
        <!-- Imagen a la izquierda -->
        <div class="col-md-6 d-none d-md-flex p-0">
            <img src="../../../../assets/img/login.jpg" alt="Login image" class="w-100" style="object-fit: cover;">
        </div>
        <!-- Formulario a la derecha -->
        <div class="col-md-6 col-12 d-flex align-items-center 
        justify-content-center p-3">
            <div class="text-center">
                <img src="../../../../assets/img/iconlogo.svg" alt="Logo de la app" class="app-logo mb-3">
                <h3>¡BIENVENIDO!</h3>
                <p>Comienza tu aventura rellenando este formulario</p>

                <form [formGroup]="formRegister" (submit)="$event.preventDefault()" class="d-flex flex-column align-items-center 
                justify-content-center gap-1">
                    <mat-form-field class="custom-input">
                        <div class="input-with-icon">
                            <fa-icon [icon]="['fas', 'circle-user']"></fa-icon>
                            <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="username"
                                id="username" formControlName="username" placeholder="Nombre de usuario" />
                        </div>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="name" id="name"
                            formControlName="name" placeholder="Nombre" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="apellido1"
                            id="apellido1" formControlName="apellido1" placeholder="Primer apellido" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="apellido2"
                            id="apellido2" formControlName="apellido2" placeholder="Segundo apellido" />
                    </mat-form-field>
                    <mat-form-field class="custom-input">
                        <div class="input-with-icon">
                            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                            <input matInput class="ng-untouched ng-pristine ng-invalid" ng-reflect-name="email"
                                id="email" formControlName="email" placeholder="Email" />
                        </div>
                    </mat-form-field>
                    <mat-form-field class="custom-input">
                        <div class="input-with-icon">
                            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                            <input type="password" #password matInput class="ng-untouched ng-pristine ng-invalid"
                                ng-reflect-name="password" id="password" formControlName="password"
                                placeholder="Contraseña" />
                        </div>
                    </mat-form-field>
                    <mat-form-field class="custom-input">
                        <div class="input-with-icon">
                            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                            <input type="password" #passwordRepeat matInput class="ng-untouched ng-pristine ng-invalid"
                                ng-reflect-name="passwordRepeat" id="passwordRepeat" placeholder="Repetir contraseña" />
                        </div>
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="password.value != passwordRepeat.value">
                        <div>
                            Contraseñas con diferentes valores.
                        </div>
                    </div>

                    <!-- INTERESES-->
                    <div class="d-flex flex-column align-items-center justify-content-center mt-3 mb-3 ms-5 me-5">
                        <h5>Indica tus preferencias de lectura para personalizar el perfil</h5>
                        <div>Selecciona un tipo:</div>
                        <div class="opciones-container d-flex flex-wrap align-items-baseline justify-content-center">
                            <div *ngFor="let typeOption of typeOptionsImagenes" class="opcion"
                                [class.selected]="favoriteType === typeOption.id"
                                (click)="selectOptionType(typeOption.id)">
                                <img [src]="typeOption.imagen" alt="Imagen {{typeOption.nombre}}">
                                <div class="opcion-nombre">{{typeOption.nombre}}</div>
                            </div>
                        </div>
                        <div>Selecciona un género:</div>
                        <div class="opciones-container d-flex flex-wrap align-items-baseline justify-content-center">
                            <div *ngFor="let genderOption of genderOptionsImagenes" class="opcion"
                                [class.selected]="favoriteGender === genderOption.id"
                                (click)="selectOptionGender(genderOption.id)">
                                <img [src]="genderOption.imagen" alt="Imagen {{genderOption.nombre}}">
                                <div class="opcion-nombre">{{genderOption.nombre}}</div>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button (click)="submit()" [disabled]="!formRegister.valid" color="primary"
                        class="mb-3 mt-3">Registrarse</button>
                </form>

                <div>
                    <a href="/login">¿Ya estás registrado? INICIA SESIÓN</a>
                </div>
            </div>
        </div>
    </div>
</div>