<div class="d-flex flex-column justify-content-center align-items-center p-3">
    <h4><strong>¿Quieres notificar algo?</strong></h4>
    <div class="mb-3">Cumplimenta el siguiente formulario</div>
    <form [formGroup]="formDenuncia" (submit)="$event.preventDefault()"
        class="d-flex flex-column align-items-center gap-3">
        <mat-radio-group formControlName="motivo" id="motivo">
            <mat-radio-button *ngFor="let dato of datosComboMotivo" [value]="dato.nombre">
                {{dato.nombre}}
            </mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="formDenuncia.get('motivo')?.value === 'Otros'">
            <mat-form-field class="texto w-100">
                <mat-label>Motivo</mat-label>
                <textarea matInput formControlName="texto"></textarea>
            </mat-form-field>
        </ng-container>
        <button mat-raised-button (click)="submit()" color="accent" [disabled]="!formDenuncia.valid">NOTIFICAR</button>
    </form>
</div>