<app-carousel-imagen></app-carousel-imagen>
<app-list-book-card></app-list-book-card>

<!-- METRICAS -->
<div class="container-fluid container-metricas my-2 mx-0">
    <div class="row p-3 d-flex flex-lg-row justify-content-around">
        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>LECTORES TOTALES</h5>
            <h2>0000</h2>
        </div>

        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>LIBROS LEÍDOS</h5>
            <h2>0000</h2>
        </div>

        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>CLUBES CREADOS</h5>
            <h2>0000</h2>
        </div>

        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <h5>RESEÑAS TOTALES</h5>
            <h2>0000</h2>
        </div>
    </div>
</div>